{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a class="btn btn-primary" href="/conductores">Back</a>
    </div>
  </div>
  <br/>
  <div>
    <h1> Conductor: {{driver_info.nombre}} {{driver_info.apellido}}</h1>
  </div>
  <br/>
</div>


<form method="post" autocomplete="off">
  {% csrf_token %}
  {% autoescape off %}
  {{error}}
  {% endautoescape %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.nombre.label_tag}}
          </div>
          <div class="col-auto">
            {{form.nombre}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.apellido.label_tag}}
          </div>
          <div class="col-auto">
            {{form.apellido}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.correo.label_tag}}
          </div>
          <div class="col-auto">
            {{form.correo}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.telefono.label_tag}}
          </div>
          <div class="col-auto">
            {{form.telefono}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.fecha_nacimiento.label_tag}}
          </div>
          <div class="col-auto">
            {{form.fecha_nacimiento}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.vehicle.label_tag}}
          </div>
          <div class="col-auto">
            {{form.vehicle}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <button class = "btn btn-primary">
    Update
  </button>
</form>



{% endblock %}