{% extends 'base.html' %}

{% block content %}

<div class="container ">
    <h1 class="text-center">FUBER</h1>
    <p> 
        Fuber es una empresa líder en el sector de transportes, especializada en brindar servicios de movilidad eficientes y confiables. Nos destacamos por nuestra innovadora plataforma tecnológica que conecta a pasajeros y conductores de manera segura y sencilla. Nuestro objetivo principal es proporcionar a nuestros clientes una experiencia de viaje excepcional, combinando comodidad, puntualidad y atención al detalle.
        En Fuber, nos enorgullece contar con una amplia flota de conductores profesionales, rigurosamente seleccionados y capacitados para brindar un servicio de calidad. Nuestros conductores se distinguen por su amabilidad, cortesía y conocimiento de las rutas, garantizando trayectos sin contratiempos y en tiempo récord.
        La seguridad es una prioridad fundamental en Fuber. Implementamos estrictos protocolos de seguridad, incluyendo verificación de antecedentes de conductores y seguimiento en tiempo real de cada viaje a través de nuestra aplicación. Además, brindamos a nuestros usuarios la opción de compartir su viaje con amigos o familiares para una mayor tranquilidad.
        En Fuber, nos esforzamos por ofrecer una experiencia de usuario excepcional. Nuestra aplicación intuitiva y amigable permite a los usuarios reservar y gestionar sus viajes de manera rápida y sencilla. Además, ofrecemos opciones de pago flexibles y transparentes, eliminando las preocupaciones relacionadas con el efectivo.
        Ya sea que necesites trasladarte al trabajo, al aeropuerto o a cualquier otro lugar de la ciudad, Fuber está aquí para satisfacer tus necesidades de transporte. Descubre la comodidad, confiabilidad y calidad de servicio que nos caracteriza y únete a la comunidad de viajeros satisfechos de Fuber. 
    </p>
</div>

{% endblock %}