{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a class="btn btn-primary" href="/metodos_pago">Back</a>
    </div>
  </div>
  <br/>
  <div>
    <h1> Nuevo metodo de pago </h1>
  </div>
</div>
<br/>
<form method="post" autocomplete="off">
  {% csrf_token %}
  {% autoescape off %}
  {{error}}
  {% endautoescape %}
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.marca.label_tag}}
          </div>
          <div class="col-auto">
            {{form.marca}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="mb-3">
    {{form.tipo.label_tag}}
    <br/>
    {{form.tipo}}
  </div>
  <button class = "btn btn-primary">
    Create
  </button>
</form>



{% endblock %}