{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a class="btn btn-primary" href="/users">Back</a>
    </div>
  </div>
  <br/>
  <div>
    <h1> New User</h1>
  </div>
</div>
<form method="post" autocomplete="off">
  {% csrf_token %}
  {% autoescape off %}
  {{error}}
  {% endautoescape %}
  <br/>
  <div class="container">
    <br/>
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.first_name.label_tag}}
          </div>
          <div class="col-auto">
            {{form.first_name}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.last_name.label_tag}}
          </div>
          <div class="col-auto">
            {{form.last_name}}
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.username.label_tag}}
          </div>
          <div class="col-auto">
            {{form.username}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.email.label_tag}}
          </div>
          <div class="col-auto">
            {{form.email}}
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{form.password.label_tag}}
          </div>
          <div class="col-auto">
            {{form.password}}
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
  <button class = "btn btn-primary">
    Create
  </button>
</form>



{% endblock %}