{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-sm-8">
    <a class="btn btn-primary" href="/management">Back</a>
  </div>
</div>
<br />
<div class="container">
  <div class="text-center"><h1>Viajes</h1></div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <form class="row g-3" autocomplete="off" method="post">
        {% csrf_token %}
        <div class="col-auto">
          <p>filter by:</p>
        </div>
        <div class="col-auto">
          <select
            name="field"
            class="form-select"
            aria-label="Default select example"
          >
            {% for campo in campos %}
            <option value="{{campo}}">{{campo}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-auto">
          <input
            name="txtFilter"
            type="text"
            class="form-control"
            value="{{txtFilter}}"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">filter</button>
        </div>
      </form>
    </div>
    <div class="col-md-auto">
      <form action="{% url 'viajes' %}" method="get">
        <button class="btn btn-danger mb-3">reset</button>
      </form>
    </div>
    <div class="col col-lg-2">
      <form action="{% url 'viajes_create' %}" method="get">
        <button class="btn btn-success mb-3">add trip +</button>
      </form>
    </div>
  </div>
</div>
  <br />
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre Conductor</th>
        <th scope="col">Nombre Pasajero</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">fecha Viaje</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in trips %}
      <tr>
        <th scope="row">{{trip.trip_id}}</th>
        <td>{{trip.driver.nombre}}</td>
        <td>{{trip.user.first_name}}</td>
        <td>{{trip.direccion_origen}}</td>
        <td>{{trip.direccion_destino}}</td>
        <td>{{trip.fecha_viaje}}</td>
        <td>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <form
                  action="{% url 'viajes_edit' trip.trip_id %}"
                  method="get"
                >
                  {% csrf_token %}
                  <button class="btn btn-primary">Edit</button>
                </form>
              </div>
              <div class="col">
                <form
                  action="{% url 'viajes_delete' trip.trip_id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    class="btn btn-danger"
                    onclick="return confirmDelete();"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  {% endblock %}
